@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

:root {
  --purple: #6c63ff;
  --bgColor: #861aec;
  --black: #000000;
  --white: #f7f7f7;
  --grey: #808080;
  --lightGrey: #d3d3d3;
  --h1-color: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: bgChanger 20s linear infinite;
}

@keyframes bgChanger {
  0% {
    background-color: var(--purple);
  }
  50% {
    background-color: var(--bgColor);
  }
  100% {
    background-color: var(--purple);
  }
}
/* =========== navbar start ============ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--h1-color);
  color: var(--white);
}

nav .logo a {
  text-transform: uppercase;
  font-family: "Pacifico", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
}

nav p{
  color: var(--white);
}

/* =========== navbar end ============ */

.hidden-form {
  display: none;
}

.container {
  width: 400px;
  background-color: var(--white);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  padding-top: 40px;
  margin: 50px auto;
}

h1 {
  color: var(--h1-color);
}

input {
  margin: 10px 0;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--lightGrey);
  font-weight: 700;
  padding-left: 20px;
}

p {
  padding: 10px 0;
  font-weight: 700;
  color: var(--grey);
}

a {
  color: var(--purple);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.button {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--purple);
  font-weight: 700;
  color: var(--white);
  padding-left: 0;
  cursor: pointer;
  margin-top: 10px;
  animation: bgChanger 20s linear infinite;
}

.pageBtn {
  border: none;
  background: none;
  color: var(--purple);
  font-weight: bold;
  cursor: pointer;
}

.pageBtn:hover {
  text-decoration: underline;
}

.fb-btn {
  animation: bgChanger 20s linear infinite;
  color: var(--white);
}

.g-btn {
  color: var(--grey);
}

/* =========== footer start =========== */

footer {
  width: 100%;
  padding: 5px 30px;
  background-color: var(--h1-color);
  color: var(--white);
  text-align: center;
}

footer a {
  color: var(--grey);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/* =========== footer end =========== */

/* media query */

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0px;
  }

  nav .logo a {
    font-size: 1em;
  }

  .container {
    width: 90%;
  }

  footer {
    font-size: 0.8em;
    padding: 0 10px;
  }
}
